<!--
======================================
; Title: booking.ejs 
; Author: Brett Grashorn
; Date: 23 Feb 2023
; Description: This code has the code for the pets-r-us booking page
; Sources Used: WEB 200/231
;====================================
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Adds Header Partial -->
    <%- include('_header.ejs') %>

    <section class="booking">
      <div class="card booking-card">
        <div class="booking-title">Booking</div>
        <div class="card-content">
          <div class="form-div">
            <form action="/models/appointment.js" method="post">
              <div class="form-field booking-form">
                <label for="userName" class="booking-label">User Name:</label
                ><br />
                <input
                  type="text"
                  class="input"
                  name="userName"
                  id="userName"
                  required
                  autofocus
                />
              </div>

              <div class="form-field booking-form">
                <label for="firstName" class="booking-label">First Name:</label
                ><br />
                <input
                  type="text"
                  class="input"
                  name="firstName"
                  id="firstName"
                  required
                  autofocus
                />
              </div>

              <div class="form-field booking-form">
                <label for="lastName" class="booking-label">Last Name:</label
                ><br />
                <input
                  type="text"
                  class="input"
                  name="lastName"
                  id="lastName"
                  required
                  autofocus
                />
              </div>

              <div class="form-field booking-form">
                <label for="email" class="booking-label">Email:</label><br />
                <input
                  type="text"
                  class="input"
                  name="email"
                  id="email"
                  required
                  autofocus
                />
              </div>

              <div class="form-field booking-form">
                <label for="service" class="booking-label"
                  >Choose Service:</label
                ><br />

                <select
                  name="service"
                  id="service"
                  class="drop-down-menu"
                  required
                >
                  <option value="select">--Select--</option>
                  <% services.forEach((service) => { %>
                  <option value="'<%= service.value %>'">
                    <%= service.text %>
                  </option>
                  <% }) %>
                </select>

                <div class="booking-form">
                  <!-- submit data button -->
                  <button
                    type="submit"
                    class="booking-button"
                    id="btnSubmit"
                    value="Pets-R-Us Appointment"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Adds Footer Partial -->
    <%- include('_footer.ejs') %>
  </body>
</html>
