<!--
======================================
; Title: customer-list.ejs 
; Author: Brett Grashorn
; Date: 4 Feb 2023
; Description: This code has the code for the pets-r-us customer list page
; Sources Used: WEB 200/231/340
;====================================
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Adds Header Partial -->
    <%- include('_header.ejs') %>

    <!-- Database Table -->
    <section class="container customers-section">
      <div class="card customer-card">
        <div class="card-title">Customer List</div>
        <!-- Displays customer list based off customers.js page -->
        <div class="card-content">
          <% if(customers.length > 0) { %>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
            <tbody>
              <% customers.forEach(function(customer) { %>
              <tr>
                <td><%= customer.customerId %></td>
                <td><%= customer.email %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
          <h3>
            Customers have not been added to the MongoDB database. Try adding
            some!
          </h3>
          <% } %>
        </div>
      </div>
    </section>
    <!-- Adds Footer Partial -->
    <%- include('_footer.ejs') %>
  </body>
</html>
